:root{
    --background-color: #232946;
    --headline-color: #fffffe;
    --paragraph-color: #b8c1ec;
    --primary-color: #eebbc3;
    --button-text-color: #232946;
    --stroke: #121629;
    --dark: hsla(190, 20%, 34%, 0.651);
    --primary2: hsla(195, 26%, 58%, 0.795) ;
    --secondary: hsl(198, 57%, 88%);
    --dark-gray: hsl(215, 28%, 17%);
    --gray: hsl(217, 19%, 27%);
    --light-gray: hsl(220, 9%, 46%);
    --lightest-gray: hsl(218, 11%, 65%);
    --success-color: #22c55e;
    --success-text-color: #14532d;
    --success-color-light: #bbf7d0;
    --fail-color: #ef4444;
    --fail-text-color: #7f1d1d;
    --fail-color-light:#fecaca;
}