.avatar{
    border-radius: 100%;
    min-width: 5rem;
    min-height: 5rem;
    cursor: pointer;
}
.avatar-l{
    min-width: 6rem;
    min-height: 6rem;
}
.avatar-xl{
    min-width: 7rem;
    min-height: 7rem;
}
.avatar-s{
    min-width: 3rem;
    min-height: 3rem;
}
.avatar-xs{
    min-width: 2rem;
    min-height: 2rem;
}
.avatar-square{
    border-radius: 0.625rem;
}
.avatar-shadow{
    box-shadow: 1px 2px 25px 1px var(--light-gray);
}