.dialog-main{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.open{
    display: flex;
}
.dailog-btn-wrap{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.modal-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 15rem;
    height: fit-content;
    background-color: white;
    border-radius: 0.5rem;
}