.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem ;
    align-items: center;
    box-shadow: 1px 2px 25px 1px var(--light-gray);
    background-color: var(--background-color);
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.nav-right{
    display: flex;
    gap: 1rem;
}
.header-text{
    color: var(--paragraph-color);
}
.navbar-icon{
    color: var(--headline-color);
}