.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    align-items: center;
    background-color: var(--background-color);
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.nav-right{
    display: flex;
    gap: 1rem;
}
