.snack-container{
    background-color: var(--background-color);
    box-shadow: 1px 2px 25px 1px var(--light-gray);
    color: var(--paragraph-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position:fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 30rem;
    padding: 1rem;
}
.snack-left{
    left: 0;
    transform: translateX(0);
}
.snack-icon-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.snack-icon{
    cursor: pointer;
}
.snack-link{
    color: var(--primary-color);
}
.hide-snack{
    display: none;
}