body{
    background-color: var(--section-background-color);
    width: 100%;
}
main{
    width: 100%;
    min-height: 100vh;
    background-color: var(--section-background-color);
    grid-auto-flow: row;
    grid-template-columns: 20rem auto ;
    grid-template-rows: 3rem auto 5rem;
    grid-template-areas: 
                "nav-bar nav-bar"
                "side-section main-display"
                "footer footer";
}
.nav-modal{
    background-color: var(--background-color) ;
}
.nav-bar{
    position: fixed;
    z-index: 5;
    grid-area: nav-bar;
}
.side-section{
    grid-area: side-section;
    padding: 2rem 0rem 0rem 5rem;
}
.main-display{
    grid-area: main-display;
    padding: 1rem 8rem 0rem 2rem;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: footer;
}
.list-wrap{
    width: 100%;
}
.list-pills{
    background-color: var(--section-background-color);
}
.list-pills:hover{
    background-color: var(--paragraph-color);
}
.component-display-div{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--paragraph-color);
}
.component-display-div-row{
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--paragraph-color);
}
.light-background{
    background-color: var(--section-background-color);
}
.ham-list{
    max-height: 20rem;
    overflow-y: scroll;
}
.footer{
    margin-top: 2rem;
    background-color: var(--background-color);
}
.footer-text{
    color: var(--headline-color);
}
.footer-link{
    color: var(--primary-color);
}
.dialog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 15rem;
    z-index: 2;
    height: fit-content;
    background-color: white;
    border-radius: 0.5rem;
}
@media only screen and (max-width: 800px) {
    .side-section{
        display: none;
    }
    .main-display{
        padding: 1rem ;
    }
    main{
        /* margin: 0 auto; */
        width: 100%;
        min-height: 100vh;
        background-color: var(--section-background-col);
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-rows: 3rem auto 5rem;
        grid-template-areas: 
                  "nav-bar nav-bar"
                  "main-display main-display"
                  "footer footer";
    }
  }